<p *ngIf = "modoAgregar == true">Modo Agregar nuevo producto</p>
<p *ngIf = "modoAgregar == false" >Modo Editar producto</p>
<form #f = "ngForm" (ngSubmit)="submit(f)">
    <div class="media">
        <a class="d-flex align-self-bottom" href="#">
            <img class="mr-3" src="https://picsum.photos/id/{{product.uid}}/100/100" alt="Generic placeholder image"
            *ngIf = "product.uid > 0">
        </a>
        <div class="media-body">
            <div class="form-group">
                <label for="">uid (clave de producto)</label>
                <input *ngIf = "modoAgregar == true" [(ngModel)] = "product.uid" ngModel name = "uid" 
                type="number" class="form-control" min="0" required>

                <input *ngIf = "modoAgregar == false" [(ngModel)] = "product.uid" ngModel name = "uid" 
                type="number" class="form-control" min="0" disabled>


            </div>
            <div class="form-group">
                <label for="">Nombre de producto</label>
                <input [(ngModel)] = "product.nombre" ngModel name = "nombre" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="">Marca</label>
                <select class="form-control" name="marca" ngModel [(ngModel)] = "product.marca">
                    <option value="">Seleccionar una opción</option>
                    <option *ngFor="let m of marcas">{{m}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Precio</label>
                <input [(ngModel)] = "product.precio" name = "precio" type="number" class="form-control" min="0" required>
            </div>
            <div class="form-group">
                <label for="">Breve descripción</label>
                <input [(ngModel)] = "product.descripcion" ngModel name = "descripcion" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="">Existencia</label>
                <input [(ngModel)] = "product.existencia" ngModel name = "existencia" type="number" class="form-control" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label for="">Atributo</label>
            <input [(ngModel)] = "especificaciones.atributo" ngModel
            name = "atributo" #v1 type="text" class="form-control">
        </div>
        <div class="col-2">
            <label for="">Valor</label>
            <input [(ngModel)] = "especificaciones.valor" ngModel
            name = "valor" #v2 type="text" class="form-control">
        </div>
        <div class="col-2">
            <label for="">Unidad</label>
            <input [(ngModel)] = "especificaciones.unidad" ngModel
            name = "unidad" #v3 type="text" class="form-control">
        </div>
        <div  *ngIf = "modoAgregar == true" >
            <label for="" style="color:white">añadir</label>
            <a name="" id="" class="form-control btn btn-success" 
            href="#" routerLink = "/products/new" role="button"
            (click) = "agregarEspecificacion()"
            > <i class="fas fa-plus-circle    "></i></a>

            
        </div>

        <div *ngIf = "modoAgregar == false">
            <label for="" style="color:white">añadir</label>
            <a name="" id="" class="form-control btn btn-success" 
            href="#" routerLink = "/products/{{product.uid}}/edit" role="button"
            (click) = "agregarEspecificacion()"
            > <i class="fas fa-plus-circle    "></i></a>
        </div>
    </div>

    <div>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Atributo</th>
                    <th>Valor</th>
                    <th>Unidad</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let esp of product.especificacion; let i = index">
                    <td scope="row">{{esp.atributo}}</td>
                    <td>{{esp.valor}}</td>
                    <td>{{esp.unidad}}</td>
                    <td><a href="#" role="button" routerLink="/products/{{product.uid}}/edit" class="btn btn-primary" (click)="eliminarEspecificacion(i)"><i class="fas fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <input type="submit" class="btn btn-primary" value="Guardar" [disabled] = "!f.valid">
    <button class="btn btn-secondary ml-3" (click)="regresar()">Cancelar</button>

</form>

<p>{{product | json}}</p>
<p>{{f.value | json}}</p>
<p>{{f.valid}}</p>
