<li class="border list-unstyled">
    <div class="row">
        <div class="col-1">
        <input type="checkbox" >
        </div>

        <div class="media col">
        <img class="mr-3" src="" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0 mb-1"></h5>
            <p>Precio (MXN): $</p>
            <p>marca:  </p>
            <p>Descripción:  </p>
            <p>Existencia: </p>
        </div>
        <div class="media-right col-2 mt-3">
            <div class="row">
            <a name="" id="" class="btn btn-primary" href="#" role="button" 
                ><i class="fas fa-edit    "></i></a>
            </div>
            <div class="row mt-3">
            <a name="" id="" class="btn btn-primary" href="#" role="button" 
            ><i class="fas fa-search    "></i></a>
            </div>
            <div class="row mt-3">
            <a name="" id="" class="btn btn-danger" href="#" role="button" > 
            <i class="fas fa-trash"></i></a>
            </div>
        </div>
        </div>
    </div>


    </li>
