<!--<p>Modo:{{modoProductos}}</p>-->
<div class="row">
    <div *ngIf = "modoProductos==true" class="col-1">
        <input type="checkbox"
        (change) = "enviarAmonitoreados()"
        (input)="checkBoxValue=$event.target.checked"
        >
    </div>

    <div class="media col">
        <img class="mr-3" src="https://picsum.photos/id/{{product.uid}}/100/100 " alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0 mb-1"></h5>
            <p><strong>{{product.nombre}}</strong></p>
            <p>Precio (MXN):{{product.precio}} $</p>
            <p>marca:{{product.marca}} </p>
            <p>Descripción: {{product.descripcion}} </p>
            <p>Existencia:{{product.existencia}} </p>
        </div>
        <div class="media-right col-2 mt-3">
            <div class="row">
                <a name="" id="" class="btn btn-primary" href="#" routerLink="/products/{{product.uid}}/edit"
                    role="button"><i class="fas fa-edit    "></i></a>
            </div>
            <div class="row mt-3">
                <a name="" id="" class="btn btn-primary" href="#" routerLink="/products/{{product.uid}}"
                    role="button"><i class="fas fa-search    "></i></a>
            </div>
            <div class="row mt-3">
                <a name="" id="" class="btn btn-danger" href="#" role="button" routerLink="/products"
                    (click)="eliminarElemento()">
                    <i class="fas fa-trash"></i></a>
            </div>
        </div>
    </div>
</div>