<div class="row">
    <div class="col-4">
        <input type="text" 
         class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
    </div> 
    <div>
        <a name="" id="" class="btn btn-primary" href="#" role="button"   >Buscar producto</a>
    </div>
    <div  class="ml-2">
        <a nclass="btn btn-success"  href="#" role="button" >Añadir seleccionados a monitoreados</a>
    </div>
</div>

<div class=" mt-2">
    <ul>
        AQUÍ PONES EL COMPONENTE
        //Ng cfor, le pasas de parametro el index, aparte de los otros datos de los productos.
        //Nombre, ID, desc, precio || index (ngfor)
        <app-product></app-product>
    </ul>

    <div class="alert alert-danger" role="alert"   >
        <strong>Ningún producto concuerda con la búsqueda</strong>
    </div>

</div>
