<p>Este es product-detail para el producto {{id}}</p>
<div class="media col">
    <img class="mr-3" src="https://picsum.photos/id/{{product.uid}}/100/100 " alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0 mb-1"></h5>
            <p><strong>{{product.nombre}}</strong></p>
            <p>Precio (MXN):{{product.precio}} $</p>
            <p>marca:{{product.marca}}  </p>
            <p>Descripción: {{product.descripcion}} </p>
            <p>Existencia:{{product.existencia}} </p>
        </div>
</div>

<div *ngIf = "product.especificacion.length > 0" >
    <table class="table">
        <tr>
            <th>Atributo</th>
            <th>Valor</th>
            <th>Unidad</th>
          </tr>
        <tr *ngFor = "let item of product.especificacion; let i = index">
            <td>{{item.atributo}}</td>
            <td>{{item.valor}}</td>
            <td>{{item.unidad }}</td>
        </tr>
    </table>

</div>